.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 35px;
}

.cardContainer {
  align-self: center;
  padding: 40px;
}

.extraInfoContainer {
  display: flex;
  justify-content: left;
}

.description {
  word-break: break-all;
}
